@import "partials/base";
@import "partials/fonts";
@import "partials/theme";
@import "partials/media";
.grgrg {
  margin-top: 12px;
  margin-bottom: 111px;
  font-family: serif;
  font-size: 12px;
  font-weight: 300;
  background-color: red;
  background-image: url('img/i.jpg');
  background-position: 0 0;
}